.react-datepicker-popper[data-placement^='bottom'] {
  z-index: 999 !important;
}
.custom-card {
  position: relative;
}

.custom-card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #f4621f;
  top: 0px;
  left: 0;
}
